<main class="flex items-center justify-center min-h-[calc(100vh_-_75px)] bg-[#f2f6fc] dark:dark:bg-neutral-700">
  <form [formGroup]="loginForm"
    class="w-[500px] bg-white animate-fade-right dark:bg-neutral-600 shadow-2xl rounded-lg max-w-xs overflow-auto">
    <h2 class="w-full py-3 text-2xl font-bold text-center text-white bg-process_cyan-500 ">Inicio de Sesión</h2>
    <div class="flex flex-col items-center justify-center p-4">
      <p class="text-red-500">{{loginError}}</p>
      <div class="w-full mb-4">
        <label for="nombre"
          class="block mb-2 text-sm font-bold text-neutral-700 dark:text-neutral-200/90">Nombre</label>
        <input formControlName="username" type="text"
          class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none dark:caret-inherit dark:border-transparent dark:text-white dark:bg-neutral-500 focus:outline-none focus:shadow-outline"
          id="nombre" />

        @if (nombre(). invalid && (nombre().dirty || nombre().touched)) {
        @if (nombre().errors?.['required']) {
        <div class="text-xs italic text-red-500">Nombre es requerido.</div>
        }
        }

      </div>

      <div class="w-full mb-6">
        <label for="contrasena"
          class="block mb-2 text-sm font-bold text-gray-700 dark:text-neutral-200/90">Contraseña</label>
        <input formControlName="password" type="password"
          class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none dark:border-transparent dark:caret-inherit dark:text-white dark:bg-neutral-500 focus:outline-none focus:shadow-outline"
          id="contrasena" />

        <div *ngIf="contrasena().invalid && (contrasena().dirty || contrasena().touched)"
          class="text-xs italic text-red-500">
          <div *ngIf="contrasena().errors?.['required']">Contraseña es requerida.</div>
          <div *ngIf="contrasena().errors?.['minlength']">
            Contraseña debe tener al menos 4 caracteres.
          </div>
        </div>
      </div>


      <button (click)="login()" type="submit"
        class="px-4 py-2 font-semibold text-white transition bg-process_cyan-500 rounded-xl hover:bg-process_cyan-400">
        Iniciar sesión
      </button>
    </div>
  </form>
</main>
