<main class="flex items-center justify-center min-h-[calc(100vh_-_75px)] bg-[#f2f6fc] dark:dark:bg-neutral-700">
  <section class="flex flex-col max-w-[700px] items-center justify-center gap-y-4">
    <h2 class="text-5xl font-bold uppercase animate-fade-down text-balance dark:text-white ">
      Bienvenido a PDC
    </h2>
    <div class="w-full h-1 animate-delay-100 animate-fade-down bg-process_cyan-500"></div>
    <div class="flex flex-col items-center animate-delay-500 animate-flip-down gap-y-2">
      <p class="text-xl font-medium text-center dark:text-neutral-200/90">
        Te damos la bienvenida a PDC, tu plataforma digital para consultas, donde podrás ver los datos más recientes y
        actualizados. La plataforma que acoje a Entidades Bancarias, Promotores y Usuarios.
      </p>
      <p class="text-xl font-medium text-center dark:text-neutral-200/90">
        Por favor, inicia sesión para ver sus datos correspondientes.
      </p>
      <a [routerLink]="['/login']"
        class="px-4 py-2 font-semibold text-white transition animate bg-process_cyan-500 rounded-xl hover:bg-process_cyan-400">Iniciar
        sesión</a>
    </div>
  </section>
</main>
