<main class="p-4">
  <section class="flex items-center justify-between mt-6 animate-fade-down">
    <h2 class="h-full text-2xl font-semibold text-steel_pink-500">
      Listado de Promotores
    </h2>

    <form class="flex max-w-[350px]">
      <input
        class="flex-1 p-2 border-2 border-r-0 rounded-l-md focus:outline-none dark:bg-neutral-600 dark:text-white dark:placeholder:text-white/70 "
        type="text" placeholder="Introduce un promotor" #filter (keyup)="filterResults(filter.value)" />
      <div
        class="flex items-center justify-center px-4 font-medium border-2 select-none gap-x-2 text-steel_pink-500 rounded-r-md"
        type="button">
        <span class="material-icons ">
          search
        </span>
      </div>
    </form>
  </section>
  <section class="mt-6 divide-y-2 dark:divide-white/70 divide-neutral-200 animate-fade-down animate-delay-[400ms]">
    @if (promotoresFiltrados.length > 0) {
    @for (promotor of promotoresFiltrados; track $index) {
    <details name="ciudadano"
      class="first:rounded-t-xl last:rounded-b-xl bg-white dark:bg-neutral-600 [&_svg]:open:-rotate-180 transition-all duration-300">
      <summary class="flex items-center justify-between px-4 py-2 cursor-pointer">
        <span class="text-xl dark:text-white/90">{{promotor.promotor}}</span>
        <svg class="transition-all duration-300 transform rotate-0 text-steel_pink-500" width="24" height="24"
          fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          viewBox="0 0 24 24">
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </summary>

      <div
        class="flex flex-col w-full p-6 overflow-hidden transition-all duration-300 border-t-2 bg-neutral-200 dark:bg-neutral-500 gap-y-2 border-steel_pink-500">
        <div class="flex items-center justify-between w-full">
          <a [routerLink]="['/promotor', promotor.promotor]"
            class="text-2xl dark:text-white hover:underline">{{promotor.promotor}}</a>
        </div>
        <div>
          <h3 class="w-full px-4 py-2 text-lg text-white bg-steel_pink-500 rounded-t-xl">
            Historial de usuarios
          </h3>
          <table class="w-full overflow-hidden shadow-md rounded-b-xl">
            <thead class="dark:bg-neutral-600 bg-neutral-400">
              <tr class="divide-x-2 divide-white">
                <th class="px-6 py-3 font-medium tracking-wider text-center text-white uppercase dark:text-white/70">
                  Nombre</th>
                <th class="px-6 py-3 font-medium tracking-wider text-center text-white uppercase dark:text-white/70">
                  Entidad</th>
                <th class="px-6 py-3 font-medium tracking-wider text-center text-white uppercase dark:text-white/70">
                  Mes</th>
                <th class="px-6 py-3 font-medium tracking-wider text-center text-white uppercase dark:text-white/70">
                  Aportaciones Mensuales</th>
              </tr>
            </thead>

            <tbody class="text-center bg-white divide-y divide-gray-200">
              @for (usuario of promotor.usuarios; track $index) {
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <a [routerLink]="['/ciudadano', usuario.usuario]" class=" hover:underline">
                    <div class="text-sm text-gray-900">{{usuario.usuario | titlecase}}
                      {{usuario.lastname | titlecase}}</div>
                  </a>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <a [routerLink]="['/entidad', usuario.entidad.toLowerCase()]" class=" hover:underline">
                    <div class="text-sm text-gray-900">{{usuario.entidad}}</div>
                  </a>
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">{{usuario.mes}}</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">{{usuario.cantidad | currency:'EUR'}}</div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </details>
    }}
    @else {
    <p class="text-center dark:text-white/70">No se encontraron resultados</p>
    }
  </section>
</main>
